[user]
	name = Matej Nemcek
	email = ybdaba@gmail.com
	username = yangwao
[core]
	excludesfile = /Users/wao/.gitignore_global
	autocrlf = input
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
[alias]
	a = add
	aa = add --all
	di = diff
	ds = diff --staged
	ci = commit -v
	co = checkout
	pl = pull
	ps = push
	st = status -sb
	unstage = reset HEAD --

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
